.form-control {
    width: 80px;
}
#exampleFormControlTextarea1 {
    width: 300px;
}
#exampleFormControlTextarea2 {
    width: 465px;
}
.custom-control-label::before {
    border-color: darkorange;
}
table, .nav-tabs, .form-inline {
    margin: auto;
    text-align: center;
    justify-content: center;
}
h3 {
    text-align: center;
    font-weight: 300;
}