table {
    margin: auto;
}
.form-inline {
    margin: 20px;
    margin-left: 140px;
    text-align: center;
}
h3 {
    text-align: center;
    font-weight: 300;
}
.form-control {
    width: 70px;
}
td>i {
    color: rgb(112, 200, 252);
    font-size: 30px;
    margin: 5px;
}